<!-- start custom analytics snippet -->
<!-- Default Statcounter code for Chimeric Researcher
Atelier https://drko-curius.github.io/ -->
<script type="text/javascript">
var sc_project=13213431; 
var sc_invisible=1; 
var sc_security="7cf88e8b"; 
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js"
async></script>
<noscript><div class="statcounter"><a title="Web Analytics
Made Easy - Statcounter" href="https://statcounter.com/"
target="_blank"><img class="statcounter"
src="https://c.statcounter.com/13213431/0/7cf88e8b/1/"
alt="Web Analytics Made Easy - Statcounter"
referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
<!-- End of Statcounter Code -->

<!-- end custom analytics snippet -->
